body {
    background-color: lightblue;
    /* font-family:"Georgia", Times, serif;   */
    margin: 0;

    /* background: linear-gradient( cyan, transparent), linear-gradient( -45deg, magenta, transparent), linear-gradient( 45deg, yellow, transparent); */
    background-blend-mode: multiply;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 100px;
}

textarea {
    font-family:"Georgia", Times, serif;  
    font-size: 20px;   
}

#inputbox { 
    padding: 5px;
}

#results {
    padding: 15px;
    background-color: white;
    width: 400px;
    border: 1px solid black;
    visibility: hidden;
}

#results h2 {
    margin: 0px;
}

.tbox {
    padding: 15px;
    font-size:20px;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    visibility: hidden;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add a black background color to the top navigation */
.topnav {
background-color: lightgray;
border-bottom: 7px solid orange;
overflow: hidden;
color: darkslategray;
}

.bottomnav {
background-color: lightgray;
overflow: hidden;
border-top: 7px solid orange;
position: fixed;
bottom: 0;
width: 100%;
color: gray;
}
